/* Coolors Exported Palette - coolors.co/667eea-764ba2-d9f0ff-a3d5ff-83c9f4 */

/* HSL */
$color1: hsla(229%, 76%, 66%, 1);
$color2: hsla(270%, 37%, 46%, 1);
$color3: hsla(204%, 100%, 93%, 1);
$color4: hsla(207%, 100%, 82%, 1);
$color5: hsla(203%, 84%, 74%, 1);

/* RGB */
$color1: rgba(102, 126, 234, 1);
$color2: rgba(118, 75, 162, 1);
$color3: rgba(217, 240, 255, 1);
$color4: rgba(163, 213, 255, 1);
$color5: rgba(131, 201, 244, 1);